@import "~src/assets/variables";

body {
  font-family: "Segoe UI",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
  color: $main-color;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: $main-color;
}

.main-color {
  color: $main-color;
}

.correct-color {
  color: $green;
}

.incorrect-color {
  color: $red;
}

.link{
  cursor: pointer;
  color: #0056b3;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.container{
  max-width: 970px;
}

.btn-default{
  background-color: $dark-main-color;
  color: $background-color;
  border: 0;
  border-radius: 0;


  &:hover {
    color: $dark-main-color;
    background-color: white;
  }

  &:disabled {
    &:hover {
      background-color: $dark-main-color;
      color: $background-color;
    }
  }
}

.btn-outlet-default {
  background-color: white;
  color: $dark-main-color;
  border: 1px $dark-main-color transparent;
  border-radius: 0;
  &:hover {
    background-color: $dark-main-color;
    color: $background-color;
  }
}

.btn-success {
  background-color: $green;
  color: $background-color;
  border: 0;
  border-radius: 0;


  &:hover {
    color: $green;
    background-color: white;
  }
}

.btn-primary {
  border: 0;
  border-radius: 0;

  &:hover {
    color: $blue;
    background-color: white;
  }
}

.c-pointer {
  cursor: pointer;
}

.bg-main-color {
  background-color: $light-main-color;
}


@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 769px) {

}
