<div class="tab-content pb-4">
  <article>
    <div>
      <div>
        <p><a href="https://cfl.edu.vn/xmedia/2014/08/toeic.jpg?x70269" data-rel="lightbox-gallery-PduqTYpX"
              data-rl_title="TOEIC" data-rl_caption="" title="TOEIC"><img class="aligncenter size-full wp-image-4877"
                                                                          src="https://cfl.edu.vn/xmedia/2014/08/toeic.jpg?x70269"
                                                                          alt="TOEIC" width="940px" height="auto"
                                                                          srcset="https://cfl.edu.vn/xmedia/2014/08/toeic.jpg 980w, https://cfl.edu.vn/xmedia/2014/08/toeic-300x80.jpg 300w, https://cfl.edu.vn/xmedia/2014/08/toeic-450x120.jpg 450w, https://cfl.edu.vn/xmedia/2014/08/toeic-654x175.jpg 654w"
                                                                          sizes="(max-width: 980px) 100vw, 980px"></a>
        </p>
        <div class="p-3">
          <p>Một bài thi TOEIC đầy đủ gồm hai phần thi: <strong>Phần thi Listening</strong> (nghe hiểu) trong
            <em><strong>45
              phút</strong></em> và <strong>phần thi Reading</strong> (đọc hiểu) trong <em><strong>75 phút</strong></em>.
            Mỗi
            phần thi có 100 câu. Tổng số câu hỏi của cả hai phần thi là <em><strong>200 câu</strong></em>. Tổng thời
            gian
            làm bài là <em><strong>120 phút</strong></em> hay 2 tiếng.<a href="#">>> Tìm hiểu cấu trúc đề thi TOEIC – Nội
              dung
              của bài thi TOEIC.</a></p>
          <p>Sau khi hoàn thành bài thi, nếu có đáp án bạn có thể tự quy đổi ra điểm số bài thi của mình theo bảng quy
            đổi
            sau &gt;&gt; <a title="Thang điểm và cách tính điểm bài thi TOEIC"
                            href="https://cfl.edu.vn/toeic/thang-diem-va-cach-tinh-diem-bai-thi-toeic/">Thang điểm
              TOEIC</a>
          </p>
        </div>
      </div>
    </div>
  </article>
  <div class="text-center">
    <a class="btn btn-success m-2" routerLink="/test">Làm bài thi ngay</a>
    <div class="btn btn-primary m-2" routerLink="/grammar">Học ngữ pháp</div>
  </div>
</div>
<div class="tab-content">
<div class="title">Hiệu suất làm bài của bạn:</div>
  <div *ngIf="isLoggedIn" class="content p-3">
    <div *ngIf="!ratings || ratings.length < 2" >Bạn cần làm nhiều bài kiểm tra hơn để xem mục này</div>
    <div *ngIf="ratings && ratings.length > 2" >
    <dx-chart
      palette="violet"
      [dataSource]="ratings"
      [valueAxis]="[{
        name: 'percentage',
        position: 'left',
        showZero: true,
        label: {
            customizeText: customizeLabelText
        }}]">
      <dxi-series valueField="percentage" name="Hiệu xuất"></dxi-series>

      <dxo-common-series-settings #seriesSettings
                                  argumentField="topicName"
                                  type="bar">
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20"></dxo-margin>
      <dxo-common-axis-settings>
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-common-axis-settings>
      <dxo-legend
        verticalAlignment="top"
        horizontalAlignment="right">
      </dxo-legend>
      <dxo-argument-axis
        [valueMarginsEnabled]="false"
        discreteAxisDivisionMode="crossLabels">
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-argument-axis>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>
    </div>
  </div>
  <div class="content p-3" *ngIf="!isLoggedIn">Bạn cần đăng nhập để xem chức năng này. <a class="herfa" (click)="displayLoginForm = true">Đăng nhập</a></div>
</div>
<div *ngIf="articles" class="tab-content">
  <div class="title">Bài đọc gợi ý:</div>
  <div class="row content">
    <div *ngFor="let item of articles" class="col-3">
      <div class="article-info">
        <strong>{{item.title}}</strong>
        <div class="intro">
         {{item.description}}
        </div>
        <a [routerLink]="'/grammar/' + item.id">Xem thêm >></a>
      </div>
    </div>
  </div>
</div>
<app-login *ngIf="displayLoginForm" (onSubmitted)="reloadPerformance($event)"></app-login>
