<div>
  <div>
    <div class="row" *ngIf="displayTestResult && testOutput">
      <app-result class=" col m-sm-3" [test]="testOutput" [spendTime]="allTime*60 - duration"></app-result>
    </div>
  </div>
  <!--<p *ngIf="isLoading" class="float-left ml-sm-2" [ngStyle]="{'color': '#112d4e'}"><i-->
  <!--class="fa fa-spinner fa-pulse"></i> Loading</p>-->
  <div *ngIf="inIntroduce">
    <p class="ml-sm-2 sr-sm-2"><strong>Hướng dẫn: </strong>{{guideToeicPart[partNumber-1].directions}}</p>
    <div class="text-center">
      <dx-button class="btn btn-outline-success" [text]="isLoading?'Đang tải...': 'Vào làm bài'"
                 (onClick)="startTest($event)" [(disabled)]="isLoading"></dx-button>
    </div>
  </div>
</div>
<div *ngIf="!inIntroduce">
  <div class="detail-test text-center">
    <nav class="clock">
      {{minutes}} : {{duration%60}}
    </nav>
    <div class="mt-sm-4">
      <div *ngFor="let qtion of questions; let i = index">
        <div class="row mt-sm-1" *ngIf="i%2 === 0">
          <div class="col pr-0">
            <a>{{qtion.id}}. </a>
            <dx-check-box class="float-right" [value]="questions[i].userAnswer? true: false"></dx-check-box>
          </div>
          <div class="col pr-0">
            <a>{{qtion.id + 1}}. </a>
            <dx-check-box class="float-right" [value]="questions[i+1].userAnswer? true: false"></dx-check-box>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9 ">
        <div class="border p-sm-4">
          <div *ngIf="testType === TESTTYPES.Part5">
            <div *ngIf="questions">
              <div *ngFor="let question of questions">
                <app-question [question]="question" [isTesting]="!displayTestResult"
                              (onChange)="changeAnswer($event)"></app-question>
              </div>
              <!--<div *ngIf="displayTestResult">-->
              <!--<div *ngFor="let question of questions">-->
              <!--<app-question [question]="question" [isTesting]="false" (onChange)="changeAnswer($event)"></app-question>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <a class="">
      <dx-button class="m-sm-2 btn-default" text="Submit" (onClick)="onSubmit()"
                 [(disabled)]="displayTestResult"></dx-button>
    </a>
  </div>
</div>


