<div class="m-sm-3">
  <div *ngIf="displayTestResult && testOutput">
    <app-result [test]="testOutput" [spendTime]="allTime*60 - duration"></app-result>
  </div>
  <!--<p *ngIf="isLoading" class="float-left ml-sm-2" [ngStyle]="{'color': '#112d4e'}"><i-->
  <!--class="fa fa-spinner fa-pulse"></i> Loading</p>-->
  <div *ngIf="inIntroduce">
    <p class="ml-sm-2 sr-sm-2"><strong>Hướng dẫn: </strong>{{guideToeicPart[partNumber-1].directions}}</p>
    <div class="text-center">
      <dx-button class="btn btn-outline-success" [text]="isLoading?'Đang tải...': 'Vào làm bài'"
                 (onClick)="startTest($event)" [(disabled)]="isLoading"></dx-button>
    </div>
  </div>
  <div *ngIf="!inIntroduce">
    <div class="clock-postiion">
      <nav *ngIf="!displayTestResult" class="clock">
        {{minutes}} : {{duration%60}}
      </nav>
    </div>
    <h6 *ngIf="displayTestResult" class="main-color" >Đáp án chi tiết:</h6>
    <div class="border p-sm-4">
      <div *ngIf="testType === TESTTYPES.Part5">
        <div *ngIf="questions">
          <div *ngFor="let question of questions">
            <app-question [question]="question" [isTesting]="!displayTestResult"
                          (onChange)="changeAnswer($event)"></app-question>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right">
      <a class="">
        <dx-button class="m-sm-2 btn-default" text="Submit" (onClick)="onSubmit()"
                   [(disabled)]="displayTestResult"></dx-button>
      </a>
    </div>
  </div>
</div>

