@import "~src/assets/variables.scss";
.clock-postiion {
  position: fixed;
  right: 115px;
}
.clock {
  background-color: $dark-main-color;
  color: aliceblue;
  font-size: 2rem;
  width: 10rem;
  text-align: center;
  border: 4px solid #c9cacc;

  border-radius: 0.5rem;
}
