<div class=" mt-3">
  <div class="row">
    <div class="col-3 tab-menu pr-0 pl-0">
      <div [class.active]="displayPartTest" (click)="displayPartTest = true">Làm bài kiểm tra</div>
      <div [class.active]="!displayPartTest" (click)="displayPartTest = false">Luyện tập theo chủ đề</div>
    </div>
    <div class="col-9 pl-0">
      <div class="content-menu" *ngIf="displayPartTest">
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra Full Test</div>
          <div class="content p-3">
            <p>Bài thi gồm 7 phần:</p>
            <ul>
              <li>Part 1: gồm 10 câu</li>
              <li>Part 2: gồm 30 câu</li>
              <li>Part 3: gồm 30 câu</li>
              <li>Part 4: gồm 30 câu</li>
              <li>Part 5: gồm 20 câu</li>
              <li>Part 6: gồm 12 câu</li>
              <li>Part 7: gồm từ 7 đến 10 đoạn đơn: 28 câu hỏi, 4 đoạn kép: 20 câu hỏi</li>
            </ul>
            <p>Thời gian làm bài: 160 phút.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="full"
                       [disabled]="disableFeature"></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra Part 5</div>
          <div class="content p-3">
            <p>Bài thi gồm 40 câu: Bạn cần phải chọn từ đúng nhất để hoàn thành câu.</p>
            <p>Thời gian làm bài: 30 phút.</p>
            <dx-button routerLink="/test/part5" class="btn-outline-success" text="Làm bài ngay"></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra Part 6</div>
          <div class="content p-3">
            <p>Bài thi gồm 12 câu: Mỗi đoạn văn có 03 chỗ trống. Bạn phải điền từ thích hợp còn thiếu vào mỗi chỗ trống
              trong
              đoạn văn đó.</p>
            <p>Thời gian làm bài: 30 phút.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="part6"
                       [disabled]="disableFeature"></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra Part 7</div>
          <div class="content p-3">
            <p>Bài kiểm tra gồm: 28 câu hỏi( từ 7 - 10 đoạn đơn) và 20 câu hỏi( 4 đoạn kép) </p>
            <p>Thời gian làm bài: 60 phút.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="part7"
                       [disabled]="disableFeature"></dx-button>
          </div>
        </div>
      </div>
      <div class="content-menu" *ngIf="!displayPartTest">
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra chủ đề V-ing, To do</div>
          <div class="content p-3">
            <p>Mỗi bài test gồm 40 câu hỏi trắc nghiệm, thuộc chủ đề V-ing, To do.</p>
            <p>Thời gian làm bài: Không giới hạn.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="/practice/1"
            ></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra chủ đề Mạo Từ</div>
          <div class="content p-3">
            <p>Mỗi bài test gồm 40 câu hỏi trắc nghiệm, thuộc chủ đề Mạo Từ.</p>
            <p>Thời gian làm bài: Không giới hạn.</p>
            <dx-button routerLink="/practice/2" class="btn-outline-success" text="Làm bài ngay"></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra chủ đề Liên từ</div>
          <div class="content p-3">
            <p>Mỗi bài test gồm 40 câu hỏi trắc nghiệm, thuộc chủ đề Liên từ.</p>
            <p>Thời gian làm bài: Không giới hạn.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="/practice/6"
            ></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra chủ đề Đảo ngữ</div>
          <div class="content p-3">
            <p>Mỗi bài test gồm 40 câu hỏi trắc nghiệm, thuộc chủ đề Đảo ngữ.</p>
            <p>Thời gian làm bài: Không giới hạn.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="/practice/7"
            ></dx-button>
          </div>
        </div>
        <div class="tab-content">
          <div class="title">Làm bài kiểm tra chủ đề Mệnh đề quan hệ</div>
          <div class="content p-3">
            <p>Mỗi bài test gồm 40 câu hỏi trắc nghiệm, thuộc chủ đề Mệnh đề quan hệ.</p>
            <p>Thời gian làm bài: Không giới hạn.</p>
            <dx-button class="btn-outline-success" text="Làm bài ngay" routerLink="/practice/5"
            ></dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
