<div *ngIf="isLoggedIn" class="tab-content">
  <div class="title">Tổng quan:</div>
  <div class="content">
    <dx-chart
      palette="blue"
      [dataSource]="currentRatings"
      title="Hiệu xuất làm bài theo từng chủ đề"
      [valueAxis]="[{
        name: 'percentage',
        position: 'left',
        showZero: true,
        label: {
            customizeText: customizeLabelText
        }}]">
      <dxi-series valueField="percentage" name="Tỉ lệ"></dxi-series>

      <dxo-common-series-settings #seriesSettings
                                  argumentField="topicName"
                                  type="bar">
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20"></dxo-margin>
      <dxo-common-axis-settings>
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-common-axis-settings>
      <dxo-legend
        verticalAlignment="top"
        horizontalAlignment="right">
      </dxo-legend>
      <dxo-argument-axis
        [valueMarginsEnabled]="false"
        discreteAxisDivisionMode="crossLabels">
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-argument-axis>
      <dxo-crosshair
        [enabled]="true"
        color="#949494"
        [width]="3"
        dashStyle="dot">
        <dxo-label
          [visible]="true"
          backgroundColor="#949494">
          <dxo-font
            color="#fff"
            [size]="12">
          </dxo-font>
        </dxo-label>
      </dxo-crosshair>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>
  </div>
</div>
<div *ngIf="isLoggedIn" class="tab-content">
  <div class="title">Chi tiết hiệu xuất làm bài theo từng chủ đề:</div>
  <div class="content">
    <div *ngIf="ratings" class="row m-0">
      <div class="col-2 tab-menu pr-0 pl-0 ">
        <div class="item" *ngFor="let topicRating of ratings"
             [class.active]="selectTopic == topicRating.topicId"
             (click)="selectTopic = topicRating.topicId">
          {{topicRating.topicName}}
        </div>
      </div>
      <div class="col pl-0 mt-3 chart">
        <div *ngFor="let topicRating of ratings" class="content-menu" [class.hiden]="selectTopic != topicRating.topicId">
          <div class="tab-content">
            <div class="content" >
              <div *ngIf="topicRating.ratings.length < 4">Bạn cần làm nhiều bài Test hơn về chủ đề này.</div>
              <div *ngIf="topicRating.ratings.length >= 4">
              <dx-chart
                palette="violet"
                [dataSource]="topicRating.ratings"
                [title]="'Chủ đề ' + topicRating.topicName"
                [valueAxis]="[{
        name: 'percentage',
        position: 'left',
        showZero: true,
        label: {
            customizeText: customizeLabelText
        }}]">
                <dxi-series valueField="percentage"
                            name="Hiệu xuất"
                            axis="percentage">
                </dxi-series>
                <dxo-common-series-settings #seriesSettings
                                            argumentField="updateDay"
                                            type="spline">
                </dxo-common-series-settings>
                <dxo-margin [bottom]="20"></dxo-margin>
                <dxo-common-axis-settings>
                  <dxo-grid [visible]="true"></dxo-grid>
                </dxo-common-axis-settings>
                <!--<dxo-legend-->
                <!--verticalAlignment="top"-->
                <!--horizontalAlignment="right">-->
                <!--</dxo-legend>-->
                <dxo-argument-axis
                  [valueMarginsEnabled]="false"
                  discreteAxisDivisionMode="crossLabels">
                  <dxo-grid [visible]="true"></dxo-grid>
                </dxo-argument-axis>
                <dxo-crosshair
                  [enabled]="true"
                  color="#949494"
                  [width]="3"
                  dashStyle="dot">
                  <dxo-label
                    [visible]="true"
                    backgroundColor="#949494">
                    <dxo-font
                      color="#fff"
                      [size]="12">
                    </dxo-font>
                  </dxo-label>
                </dxo-crosshair>
              </dx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
