<div class="form-inline">
  <p class="float-left">Câu hỏi part {{partNumber}}:</p>
  <p *ngIf="isLoading" class="float-left ml-sm-2" [ngStyle]="{'color': '#112d4e'}"><i class="fa fa-spinner fa-pulse"></i> Loading</p>
</div>
<div class="border p-3">
  <div *ngIf="partNumber === 5">
    <div *ngIf="currentQuestion">
      <app-question  [question] = "currentQuestion" (questionChange)="updateAnswer($event)"></app-question>
      <div class="temple-answer">
        <div ngClass="notification">
          <div *ngIf="currentQuestion.userAnswer" class="p-3">
            <div *ngIf="!currentQuestion.isCorrect">
              <p class="incorrect-color">Incorrect Answer!</p>
              <p><strong>Đáp án: </strong>{{correctAnswer}}</p>
            </div>
            <div *ngIf="currentQuestion.isCorrect">
              <p class="correct-color">Correct Answer!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="partNumber === 6">
    <p>Part 6</p>
  </div>
</div>
<div class="text-center mt-sm-2">
  <button class="btn btn-default mr-sm-2" (click)="clickPrevious()" [disabled]="currentQuestion?.id === 0"><i class="fas fa-chevron-left"></i>  Previous Question</button>
  <button class="btn btn-default ml-sm-2"(click)="clickNext()" [disabled]="isEnd">Next Question  <i class="fas fa-chevron-right"></i></button>
  <button class="btn btn-success float-right" (click)="clickEnd()">End Practice</button>
</div>

