<div class="ml-sm-5 mr-sm-5">
  <div class="form-inline">
    <p class="float-left">Câu hỏi Part {{partNumber}}:</p>
    <p *ngIf="isLoading" class="float-left ml-sm-2" [ngStyle]="{'color': '#112d4e'}"><i
      class="fa fa-spinner fa-pulse"></i> Loading</p>
    <div *ngIf="inIntroduce">
      <p class="ml-sm-2 sr-sm-2"><strong>Hướng dẫn: </strong>{{guideToiecPart[partNumber-1].directions}}</p>
      <div class="text-center">
        <button class="btn btn-outline-success" (click)="inIntroduce = false" [disabled]="isLoading">Vào luyện tập</button>
      </div>
    </div>
  </div>
  <div *ngIf="!inIntroduce">
    <div class="border p-3">
      <div *ngIf="partNumber === 5">
        <div *ngIf="currentQuestion">
          <app-question [question]="currentQuestion" (questionChange)="updateAnswer($event)"></app-question>
          <div class="temple-answer">
            <div ngClass="notification">
              <div *ngIf="currentQuestion.userAnswer" class="p-1">
                <div *ngIf="!currentQuestion.isCorrect">
                  <a><strong>Answer: </strong>{{correctAnswer}}</a>
                </div>
                <div *ngIf="currentQuestion.isCorrect">
                  <a class="correct-color">Correct Answer!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="partNumber === 6 || partNumber ===7">
        <div *ngIf="currentPara">
          <strong>Paragraph {{currentPara.id}}</strong>
          <div *ngIf="currentPara.contentP1" class="ml-sm-2 para-style mt-sm-2 mb-sm-4">
            <p [innerHTML]="currentPara.contentP1"></p>
          </div>
          <div *ngIf="currentPara.contentP2" class="ml-sm-2 para-style mb-sm-4">
            <p [innerHTML]="currentPara.contentP2"></p>
          </div>
          <div class="">
            <strong>Question: </strong>
            <div *ngFor="let question of questionsStorage">
              <app-question [question]="question" (questionChange)="updateAnswer($event)"></app-question>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-sm-2">
      <button class="btn btn-default mr-sm-2" (click)="clickPrevious()" [disabled]="isFirstQuestion"><i
        class="fas fa-chevron-left"></i> Previous Question
      </button>
      <button class="btn btn-default ml-sm-2" (click)="clickNext()" [disabled]="isFinalQuestion">Next Question <i
        class="fas fa-chevron-right"></i></button>
      <button class="btn btn-success float-right" (click)="clickEnd()">End Practice</button>
    </div>
  </div>
</div>

