<!--<dx-button (onClick)="onOpen = onTest" text="Add Test"></dx-button>-->
<!--<dx-button (onClick)="onOpen = onQtion" text="Add Qtion"></dx-button>-->
<!--<dx-button (onClick)="onOpen = onPara" text="Add Para"></dx-button>-->
<!--<div *ngIf="onOpen === onTest" class="mt-3 p-3">-->
  <!--<app-add-test></app-add-test>-->
<!--</div>-->
<!--<div *ngIf="onOpen === onQtion" class="mt-3 p-3">-->
  <!--<app-add-question></app-add-question>-->
<!--</div>-->


<!--&lt;!&ndash;<dx-button class="btn btn-default" text="Add Test" (click)="addTestPopupVisible = true"></dx-button>&ndash;&gt;-->
<!--&lt;!&ndash;<dx-popup  width="800px"&ndash;&gt;-->
           <!--&lt;!&ndash;height="auto"&ndash;&gt;-->
           <!--&lt;!&ndash;minHeight="500px"&ndash;&gt;-->
           <!--&lt;!&ndash;[showTitle]="true"&ndash;&gt;-->
           <!--&lt;!&ndash;title="Add New Test"&ndash;&gt;-->
           <!--&lt;!&ndash;[dragEnabled]="true"&ndash;&gt;-->
           <!--&lt;!&ndash;[closeOnOutsideClick]="false"&ndash;&gt;-->
           <!--&lt;!&ndash;[(visible)]="addTestPopupVisible">&ndash;&gt;-->
  <!--&lt;!&ndash;<div *dxTemplate="let data of 'content'">&ndash;&gt;-->
    <!--&lt;!&ndash;<app-add-test></app-add-test>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</dx-popup>&ndash;&gt;-->
