$background-color:  #f9f7f7;
$main-color: #3f72af;
$dark-main-color: #112d4e;
$light-main-color: #dbe2ef;
$red: #ff0000;
$green: #28a745;
$red-light: #ff000045;
$green-light: #28a74545;
$blue: #007bff;
