@import "~src/assets/variables";

.para-style {
  background-color: #a9a9a930;
  padding: 1rem;
  border-radius: 0.5rem;
  border: gray 2px dashed;
}

.notification {
  border-radius: 4px;
  background-color: white;
  -webkit-transition:background-color, 0.1s ease;
  -moz-transition: background-color, 0.2s ease;
  -ms-transition: background-color, 0.2s ease;
  -o-transition: background-color, 0.2s ease;
  transition: background-color, 0.1s ease;
}

.correct-answer {
  font-weight: 500;
  background-color: $green-light;

}

.incorrect-answer {
  font-weight: 500;
  background-color: $red-light;
}

.content{
  background-color: white;
  padding: 20px;
  padding-bottom: 3.5rem;
}
